@model List<KidKinder.Entities.BookASeat>
<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <p class="section-title pr-5">
                    <span class="pr-2">Bir Sandalye Ayırın</span>
                </p>
                <h1 class="mb-4">Hemen Kaydolun</h1>
                <p>
                    Çocuklarınızı eğlendirirek, temel bilim,el sanatları ve yabancı dil eğitimleri veriyoruz. Çocuklarınız küçük yaşta hem okula alışıp seviyorlar hem de kendilerini geliştiriyorlar.
                </p>
                <ul class="list-inline m-0">
                    <li class="py-2">
                        <i class="fa fa-check text-success mr-3"></i>Onlar için çok çalışıyoruz
                    </li>
                    <li class="py-2">
                        <i class="fa fa-check text-success mr-3"></i>Ekibimiz bu durumdan çok mutlu
                    </li>
                    <li class="py-2">
                        <i class="fa fa-check text-success mr-3"></i>Onlar için en iyisini istiyorlar.
                    </li>
                </ul>
                <a href="" class="btn btn-primary mt-4 py-2 px-4">Şimdi Rezervasyon Yapın</a>
            </div>

            @foreach (var item in Model)
            {
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-secondary text-center p-4">
                            <h1 class="text-white m-0">Randevu Alın</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-primary p-5">
                            <form>
                                <div class="form-group">
                                    <input type="text"
                                           class="form-control border-0 p-4"
                                           placeholder="@item.Name"
                                           required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="email"
                                           class="form-control border-0 p-4"
                                           placeholder="@item.Email"
                                           required="required" />
                                </div>
                                <div class="form-group">
                                    <select class="custom-select border-0 px-4"
                                            style="height: 47px">
                                        <option selected>Sınıfınızı Seçin</option>
                                        <option value="1">Çizim Sınıfı</option>
                                        <option value="2">Yabancı Dil Sınıfı</option>
                                        <option value="3">Bilim Ve Teknoloji Sınıfı</option>
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-secondary btn-block border-0 py-3"
                                            type="submit">
                                        Şimdi Kaydolun
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


