<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-5 mb-lg-0"
                     src="~/Templates/kidkinder-1.0.0/img/about-1.jpg"
                     alt="" />
            </div>

            <div class="col-lg-7">
                <p class="section-title pr-5">
                    <span class="pr-2">Hakkımızda</span>
                </p>
                <h1 class="mb-4">Çocuklarınız İçin En İyi Seçim</h1>
                <p>
                    Çocuklarınızı eğlendirirek, temel bilim,el sanatları ve yabancı dil eğitimleri veriyoruz. Çocuklarınız küçük yaşta hem okula alışıp seviyorlar hem de kendilerini geliştiriyorlar
                </p>
                <div class="row pt-2 pb-4">
                    <div class="col-6 col-md-4">
                        <img class="img-fluid rounded" src="/Templates/kidkinder-1.0.0/img/about-2.jpg" alt="" />
                    </div>
                    <div class="col-6 col-md-8">
                        <ul class="list-inline m-0">
                            <li class="py-2 border-top border-bottom">
                                <i class="fa fa-check text-primary mr-3"></i>Onlar için çok çalışıyoruz
                            </li>
                            <li class="py-2 border-bottom">
                                <i class="fa fa-check text-primary mr-3"></i>Ekibimiz bu durumdan çok mutlu
                            </li>
                            <li class="py-2 border-bottom">
                                <i class="fa fa-check text-primary mr-3"></i>Onlar için en iyisini istiyorlar.
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="" class="btn btn-primary mt-2 py-2 px-4">Daha Fazla Bilgi Alın</a>
            </div>
        </div>
    </div>
</div>